/*
spiele für unser spielbrett
*/
.board-cell{
    display: inline-block;
    border: none;
    width:100px;
    height:100px;
    font-family: Arial, sans-serif;
    font-size: 90px;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    background-color: #0099ff;
    text-shadow: 0px 0px 4px #000;
    margin:2px;
    color: rgba(230, 230,230,0);
    transition: color 1.3s;
}

.board-cell-done{
    composes: board-cell;
    color: rgba(230, 230,230,250);
}

.board{
    margin: 0 auto 0 auto;
    width: 318px;
    margin-top: 100px;
    background-color: rgba(0,0,0,0);
    opacity: 0.1;
    transition: opacity 1.3s;
}

.board-fade-in{
    composes:board;
    opacity:1;
}

.player-info{
    font-family: Arial;
    font-size: 22px;
    text-decoration: underline;
    text-align: center;
}

.label{
    display: inline-block;
    width: 180px;
    text-align: right;
}

.inputrow{
    margin-bottom:5px;
}


.playbutton{
    composes: playbutton from "./styles.css"
}

.winner-display{
    margin-top:100px;
}

.gameselect{
    margin-top:100px;
}