/*
stile für unser spiel
*/

body{
    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
        background-color:#282828;
        background-size:16px 16px;
        color:#ddd;
}

input[type="text"] {
  margin: 0;
  width: 170px;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
    padding: 10px;
  border: solid 5px #6496c8;
  transition: border 0.3s;
}
input[type="text"]:focus {
  outline: none;
  border: solid 5px #346392;
}

select {
  margin: 0;
  width: 200px;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
    padding: 10px;
  border: solid 5px #6496c8;
  transition: border 0.3s;
   background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}
select:focus {
  outline: none;
  border: solid 5px #346392;
}

.game{
    font-weight: bold;
    color: #ddd;
    width: 600px;
    margin: 0 auto 0 auto;
    text-align: center;
}

.index{
    width: 600px;
    margin: 200px auto 0 auto;
    text-align: center;
}

.playbutton{
    padding: 20px;
    margin: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    border-radius:10px;
    background-color: #999;
    color: #fff;
      display: inline-block;
    padding: 15px 45px;
    line-height: 1.8;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
      color: #6496c8;
  background: rgba(0,0,0,0);
  border: solid 5px #6496c8;
}

.playbutton:hover{
    border-color: #346392;
    color: #346392;
}

.header{
    font-size:30px;
    color: #ddd;
}